@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.login-container{

    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background:
        linear-gradient(
            135deg,
            #1e3a8a,
            #2563eb
        );

    padding: 20px;
}

.login-card{

    width: 100%;
    max-width: 420px;

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(15px);

    padding: 40px;

    border-radius: 24px;

    border: 1px solid rgba(255,255,255,0.2);

    box-shadow:
        0 10px 30px rgba(0,0,0,0.15);

    color: white;
}

.login-card h1{

    font-size: 32px;
    margin-bottom: 10px;
}

.login-card p{

    margin-bottom: 30px;
    opacity: 0.85;
}

.form-group{

    margin-bottom: 20px;
}

.form-group label{

    display: block;
    margin-bottom: 8px;

    font-size: 14px;
}

.form-group input{

    width: 100%;

    padding: 14px;

    border-radius: 12px;

    border: none;

    outline: none;

    font-size: 14px;
}

.login-btn{

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 14px;

    background: white;

    color: #1e3a8a;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.login-btn:hover{

    transform: translateY(-2px);

    box-shadow:
        0 8px 20px rgba(255,255,255,0.25);
}

.login-footer{
    margin-top: 16px;
    font-size: 14px;
    color: rgba(255,255,255,0.85);
    text-align: center;
}

.login-footer a{
    color: #eef2ff;
    text-decoration: underline;
}
